<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,json</Format>
          <Include>[Hypesoft.Domain]*,[Hypesoft.Application]*</Include>
          <Exclude>[*.Tests]*,[*.IntegrationTests]*,[*.UnitTests]*</Exclude>
          <Threshold>85</Threshold>
          <ThresholdType>line</ThresholdType>
          <ThresholdStat>total</ThresholdStat>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
